<template>
  <button @click="abort">Abort</button>
  <div>
    <label id="title" for="title">title:</label>
    <input type="text" name="title" v-model="title" /><br />
    <label for="author">author:</label>
    <input type="text" name="author" v-model="author" /><br />
    <button @click="create">Create</button>
  </div>
</template>
<script>
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "Document",
  data() {
    return {
      author: "author",
      title: "title",
    };
  },
  methods: {
    abort() {
      this.$router.push({ name: "Documents" });
    },
    create() {
      axios
        .post("http://192.168.0.100:3000/createDocument", {
          data: { author: this.author, title: this.title },
        })
        .then((response) => {
          this.$router.push({ name: "Documents", path: "/" });
        });
    },
  },
});
</script>