<template>
  <button @click="abort">Abort</button>
  <div>
    <label id="text" for="text">text:</label>
    <textarea type="text" name="text" v-model="text" /><br />
    <label id="text" for="text">text:</label>
    <input type="number" name="pageNr" v-model="pageNr" /><br />
    <button @click="create">Create</button>
  </div>
</template>
<script>
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "Document",
  data() {
    return {
      text: "text",
      pageNr: 1,
    };
  },
  methods: {
    abort() {
      this.$router.push({ name: "Document" });
    },
    create() {
      let id = this.$route.params.id;
      axios
        .post("http://192.168.0.100:3000/createPage", {
          id,
          data: { text: this.text, pageNr: this.pageNr },
        })
        .then((response) => {
          this.$router.push({ name: "Document" });
        });
    },
  },
});
</script>