<template>
  <DocumentShort
    v-for="document in documents"
    :key="document"
    :document="document"
  />
  <button @click="addDocument">Add Document</button>
</template>
<script>
import { defineComponent } from "vue";
import DocumentShort from "@/components/DocumentShort.vue";
import axios from "axios";

export default defineComponent({
  name: "Documents",
  components: {
    DocumentShort,
  },
  data() {
    return {
      documents: [],
    };
  },
  methods:{
    addDocument(){
      this.$router.push({ name: 'AddDocument' });
    }
  },
  mounted() {
    axios.get("http://192.168.0.100:3000/documents").then((response) => {
      this.documents = response.data;
    });
    console.log(this.documents);
  },
});
</script>
