<template>
  <h1>{{ doc.title }}</h1>
  <p>author: {{ doc.author }}</p>
  <p>date: {{ doc.dateCreated }}</p>
  <p>pages:</p>
  <button v-for="page in pages" :key="page" @click="showPage(page)">
    {{ page.pageNr }}
  </button>
  <button @click="addPage">add page</button>
  <Page v-if="activePage" :page="activePage"></Page>
</template>
<script>
import { defineComponent } from "vue";
import axios from "axios";
import Page from "../components/Page.vue";

export default defineComponent({
  name: "Document",
  components: { Page },
  data() {
    return {
      doc: {},
      pages: [],
      activePage: null,
    };
  },
  mounted() {
    let id = this.$route.params.id;
    axios.get("http://192.168.0.100:3000/document/" + id).then((response) => {
      this.doc = response.data;
    });
    axios.get("http://192.168.0.100:3000/pages/" + id).then((response) => {
      this.pages = response.data;
    });
  },
  methods: {
    showPage(page) {
      this.activePage = page;
    },
    addPage() {
      this.$router.push({ name: "AddPage" });
    },
  },
});
</script>