<template>
  <div>
    <h1>{{ document.title }}</h1>
    <button @click="showDetails">More Details</button>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: ["document"],
  mounted() {
    console.log(this.document);
  },
  methods: {
    showDetails() {
      let path = "/" + this.document._id;
      this.$router.push({ path: path });
    },
  },
});
</script>
